.page {
  min-width: 320px;  
  max-width: 1280px;
  min-height: 100vh;  
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  border: 1px solid red;
}

.header {  
  display: flex;  
  padding: 0;
  margin: 28px 48px 0 48px;
  min-height: 52px;  
  justify-content: space-between;
  border: 1px solid red;
}

.logo {
  padding: 0;
  margin: 0;
  width: 176px;
  height: 52px;
  background-image: url(./images/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
  z-index: 2;
}

.lang {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 18px;
  min-height: 100%;
}

.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  text-decoration-line: none;  
  color: #FFFFFF;
}

.header__lang-link:active {
    text-decoration-line: underline;
  }

.content {
  display:grid;
  row-gap: 92px;
  margin: 0;
  padding: 0;  
}

.lead {
  padding: 0;
  margin: 56px 148px 0 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.lead__title {
  margin: 0 0 32px 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  }

.lead__subtitle {
  margin: 0 0 64px 0;
  font-style: normal;
  max-width: 640px;
  height: 72px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;    
  text-align: center;
  color: #FFFFFF;
  z-index: 2; 
}

.lead__image {  
  width: 100%;
  margin: 0 0 8px 0;
  z-index: 1;
}

.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  align-self: flex-start;
}

.intro {
  margin-left: 148px;
  justify-items: start;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
  margin: 0 0 40px 0;
}

.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  max-width: 690px;
  margin: 0 0 33px 0;
}

.intro__list {
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.photo-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 48px 0 48px;  
}

.photo-grid__item {
  margin: 0;
  width: 100%;
}

.places {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 100%;
  row-gap: 80px;
  margin: 0 148px 0 148px;  
}

.place {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.95fr 1fr ;
  row-gap: 48px;
  column-gap: 40px;
  justify-items: start;
}

.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0 0 12px 0;
}

.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0;
  opacity: 1;
  transition: opacity linear 0.5s;
}

.place__link:hover {
  opacity: 0.8;
}

.place__image {
  margin: 0;
  width: 100%;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
}

.cover {  
  margin: 0 48px 92px 48px;
  min-height: 740px;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.cover__overlay {
  background: #2A2C2F;
  opacity: 0.3;  
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity linear 0.8s;
}

.cover__overlay:hover {
  opacity: 0.8;
}

.cover__link {  
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  margin: 0 0 32px 0;
  z-index: 2;
}

.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
  margin: 0;
  z-index: 2;
}

.footer {
  display: flex;  
  padding: 0;
  margin: 0 48px 24px 48px;
  min-height: 18px;  
  justify-content: space-between;
}

.footer__links {
  display: flex;
  gap: 18px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  transition: opacity linear 0.5s;
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}