.lead__subtitle {
    margin: 0 0 64px 0;
    font-style: normal;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
  }

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 670px) {
  .lead__subtitle {
    font-size: 22px;
    max-width: 425px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}